################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchoolApp.API/bin/Debug/net6.0
/SchoolApp.API/obj
